 
/*  header */

.ih-topbar, .ih-topbar .uk-navbar {
	background:black;
}
.ih-header-container {

}
.ih-header-container .uk-navbar {
	background:none transparent;
	border-bottom:0;
	text-align:right;
}
h1.page-title {
	margin-top:70px;
}
h1,h2,h3,h4,h5 {
   font-family: 'Source Sans Pro', sans-serif;
}
.uk-text-uppercase h1 {
	text-transform:uppercase !important;
	font-weight:900;
}
.ds-darkbgs h1.page-title {
	color:rgba(255,255,255,0.8);
	margin-bottom:70px;
}
.ih-header-container .uk-overlay-panel .uk-grid {
	min-height:212px;
}
.ih-header-container .ds-darkheader .ds-mainmenu > a {
	color:rgba(255,255,255,0.6);
}
.ih-header-container .ds-mainmenu a {
	text-shadow: none;
    text-decoration: none;
}
.ih-header-container .ds-mainmenu:hover > a {
	color:#fff;
}
.ih-header-container .ds-mainmenu > a:focus {
    background:transparent;
}
.ih-header-container .ds-mainmenu .uk-dropdown-navbar {
    background:#ccc;
}
.ih-header-container .ds-darkheader .ds-mainmenu .uk-dropdown-navbar {
	background:rgba(0,0,0,0.5);
}
.ih-header-container .ds-mainmenu .uk-dropdown {
    text-align:left;
    border:0;
}
.ih-header-container .ds-mainmenu .uk-dropdown:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.site-branding {
	display:none;
}
.uk-navbar-nav>li>a {
    text-shadow:none;
    border:0;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color:transparent;
    color:#fff;
    border:0
    text-shadow:none;
    text-decoration:none;
}
.ds-mainmenu .ds-mainmenu > a {
    color:#555;
}
.ih-header-container.ds-darkbgs {
	background:url(../img/darkbgs/greypolygonswide.jpg) center center #666;
    background-size:cover;
}
.uk-tag {
    float:left;
    margin-right:3px;
    position:relative;
}
.uk-tag a {
    padding:4px 9px;
    font-size:11px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#3b3d3c;
    background:#f3f3f3;
}
.uk-tag a:hover {
    text-decoration:none;
    background:#ddd;
}

.kitty-teaser {
    box-shadow:0 0 30px rgba(0,0,0,0.1);
}
.uk-back-black {
    background:#333;
}
.block-user-login-block .user-login-form {
    margin-left:15px;
}
.block-user-login-block .user-login-form label {
    color:#aaa;
}
.page-node-type-page .field--name-field-image {
    margin-bottom:30px;
    box-shadow:0 0 45px #ccc;
}
.kitty-teaser .uk-subnav-pill a {
    border:1px solid rgba(30,30,30,0.2);
}


ul.ds-nodelinks {
    padding-left:0;
    margin:0 -15px -15px -15px;
    background-color:#f5f5f5;
    overflow:hidden;
    border-top:1px solid #ddd;
}
.ds-nodelinks > li {
    list-style:none;
    font-size:12px;
}
.ds-nodelinks > li.comment-forbidden {
    padding:10px 15px;
}
.ds-nodelinks > li.comment-forbidden a {
    padding:0;
    border:0;
}
.ds-nodelinks > li > a {
    padding:10px 15px;
    display:block;
    text-decoration:none;
    color:#4d4d4d;
    border-right:1px solid #ddd;
    font-size:11px;
    text-transform:uppercase;
}
.ds-nodelinks > li > a:after {
	    content: "\f054";
    font-family: FontAwesome;
        float:right;
}
.ds-nodelinks > li > a:hover {
    background-color:#eee;
    color:#111;
}
.ds-nodelinks > li.node-readmore > a:hover {
    color:#000;
}
.comment-add a {
	border-top:1px solid #ddd;
}
.comment-add a:before {
    content: "\f0e5";
    font-family: FontAwesome;
    padding-right:6px;
    margin-bottom:-2px;
 }
 .posted, .tags {
	 font-size:9px;
	 color:#808080;
	 letter-spacing:.17em;
	 font-weight:300;
	 text-transform:uppercase;
	 margin-bottom:10px;
 }
.tags a {
	 color:#808080;
 }
.tags a:before {
	  content: '#';
  }
 .kitty-teaser p {
	 font-size:13px;
	 color:#5d5d5d;
	  font-family: 'Open Sans', sans-serif;
 }
.kitty-teaser h2.node__title {
   margin-bottom:15px;
}
.kitty-teaser h2.node__title a {
    font-size:21px;
    color:#4d4d4d;
    line-height:1.3em;
    font-weight:400;
    display:block;
}
.uk-overlay-panel.ds-portfolio-item a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:22px;
    text-decoration:none;
    color:#222;
    padding:10px;
}
.uk-overlay-background.ds-portfolio-item {
    background:rgba(255,255,0,0.8)
}

.node__meta {
    background:#262626;
    padding:5px;
    color:#aaa;
}